* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(83, 5, 5) , rgb(156, 156, 14));
}

.mainScreen {
    display: flex;
    justify-content: space-evenly;
}

.screenButtons {
    border-radius: 50px;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.overlay {
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
}

.hidden {
    display: none;
}